@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat&family=Oswald&family=Raleway:wght@200&family=Roboto+Condensed&display=swap');

body {
  font: 18px/36px 'Montserrat';
  background-color: #ddd;
}
/* Style utama */
.container {
  width: 800px;
  margin: auto;
  background-color: white;
}
/* Header */
header {
  padding: 10px;
}
header h1 {
  font-size: 40px;
  font-weight: 1000;
  padding-top:5px ;
}
/* Nav */
header li a {
  text-decoration: none;
  font-weight: 600px;
  font-size: 15px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 500ms ease;
}
header li {
  display: inline-block;
  margin: 40px 7px 0px 0px ;
  border-radius: 5px;
  background-color: salmon;
  transition: 500ms ease;
}
header li a:hover, header li:hover {
  transform: scale(1);
  background-color: lightskyblue;
  color: salmon
}

/* img */
.img {
  background-image: url(../img/computer.png);
  height: 390px ;
  background-size: cover;
  background-position: 0 -70px ;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

/* Article */
article {
  padding: 10px;
}
/* title artile */


article h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
article .credit {
  color: salmon;
  font-size: 17px;
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 3px solid ;
}
article p {
  text-align: justify;
}