@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat&family=Oswald&family=Raleway:wght@200&family=Roboto+Condensed&display=swap');

body {
  font: 18px/36px 'Montserrat';
  background-color: #ddd;
  background-image: url(../img/background.png);
}
/* Style utama */

.container {
  width: 960px;
  margin: 50px  auto;
  background-color: white;
  position: relative;
}

/* ribbon */
.ribbon {
  background-image: url(../img/ribbon-png-808.png);
  display: inline-block;
  height: 200px;
  width: 200px;
  text-indent: -999999px;
  position: absolute;
  top: -12px;
  right: -10px;
}

/* Header */
header {
  padding: 10px;
}
header h1 {
  font-size: 40px;
  font-weight: 1000;
  padding-top:5px ;
}
/* Nav */
header li a {
  text-decoration: none;
  font-weight: 600px;
  font-size: 15px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 500ms ease;
}
header li {
  display: inline-block;
  margin: 40px 7px 0px 0px ;
  border-radius: 5px;
  background-color: salmon;
  transition: 500ms ease;
  opacity: .60;
}
header li a:hover, header li:hover {
  transform: scale(1);
  background-color: salmon;
  opacity: 1;
}

/* img */
.img {
  background-image: url(../img/computer.png);
  height: 450px ;
  background-size: cover;
  background-position: 0 -84px ;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

/* Article */
article h2, article .credit, article p {
  padding: 10px;
}
/* title artile */


article h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
article .credit {
  color: salmon;
  font-size: 17px;
  padding-bottom: 2px;
  border-bottom: 2px solid salmon;
}
.main p {
  text-align: justify;
  width: 500px;
  box-sizing: border-box;
  border-right: 2px solid salmon;
  float: left;
}

/* Sidebar */
.sidebar {
  float: left;
  width: 400px;
  padding-left: 20px;
}
.sidebar h2 {
  font-size: 25px;
  margin-top: 0;
}
.sidebar img {
  margin-left: 10px;
  float: left;
  padding-right: 5px;
}
.sidebar p {
  text-align: justify;
  font: 14px/29px 'Tahoma';
  
  
}



/* footer */
footer {
  padding: 20px;
  background-color: #333;
}
footer h2 {
  font-size: 13px;
  color: white;
  text-align: center;
}
